<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Go and Travel<br>You Only Live Once...</h1>
    <h2>“Travel makes one modest. You see what a tiny place you occupy in the world.” -Gustav Flaubert</h2>
    <a href="#" class="btn-get-started">Get Started</a>
  </div>
</section>

<!-- End Hero -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="../../assets/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore
          magna aliqua.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i>Jobs fill your pockets, adventures fill your soul.</li>
          <li><i class="bi bi-check-circle"></i> The world is a book and those who do not travel read only one
            page.
          </li>
          <li><i class="bi bi-check-circle"></i>Travel is the only thing you buy that makes you richer.</li>
        </ul>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate
        </p>

      </div>
    </div>

  </div>
</section>
<!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
          class="purecounter">2</span>
        <br>
        <p>Packages</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
          class="purecounter">2</span><br>
        <p>Hotels</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
          class="purecounter">2</span><br>
        <p>Destinations</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
          class="purecounter">7</span><br>
        <p>Registrations</p>
      </div>

    </div>

  </div>
</section>
<!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../assets/bus.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Bus</h4>
            <span>Book your bus ticket online</span>
            <p>
              Bus booking can be quite a hassle if you physically had to go to the state transport office or the local
              bus depot to make buy your tickets.
            </p>
            <div class="social">
              <a mat-raised-button color="primary" class="text-white" routerLink="routedetail">Book</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../assets/package.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Choose Tour Package</h4>
            <span>Engjoy your Life</span>
            <p>
              Plan a Trip, a weekend getaway, or an adventure activity.
            </p>
            <div class="social">
              <a mat-raised-button color="primary" class="text-white" routerLink="package">Book</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../assets/hotel.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Book a Room</h4>
            <span>Stay in a Hotel</span>
            <p>
              Book The Ideal Hotel at a Great Price - Search, Compare & Save with us Shows Great Offers from Different
              Websites. </p>
            <div class="social">
              <a mat-raised-button color="primary" class="text-white" routerLink="hotel">Book</a>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->

   

   <!-- End #main -->