<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let package of packages">
            <div class="card" style="width: 18rem;">
                <img [src]="package.profile" class="card-img-top rounded mx-auto d-block set-image">
                <div class="card-body">
                    <h3 class="card-title">{{package.name}}</h3>
                    <p class="card-text"><b>Destination : </b>{{package.destination}}</p>
                    <p class="card-text"><b>Duration : </b>{{package.duration}}: </p>
                    <p class="card-text"><marquee><b>{{package.description}}</b></marquee> </p>
                    <p class="card-text">Starting at {{package.price | currency:"INR"}}: </p>
                    <button class="btn btn-primary" routerLink="/packagebookingview" (click)="onSelectPackage(package.id)">Choose Package</button>
                </div>
            </div>
        </div>
    </div>
</div>
